<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
        <h1><a href="/">TEGF - The Educational Game Framework</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            {{#if user}}
            <li class="has-dropdown"><a href="/account">Min brukerkonto</a>
            <ul class="dropdown">
                <li><a href="/logout">Logg ut</a></li>
            </ul>
            </li>
            {{else}}
            <li class="has-dropdown"><a href="/login">Logg in</a>
            <ul class="dropdown">
                <li><a href="/signup">Registrer bruker</a></li>
            </ul>
            </li>
            {{/if}}
        </ul>
    </section>
</nav>
