{{!< main}}
<section id="notFound">
  <div class="row">
    <div class="large-12 columns">
      <h1>404 - oh noes</h1>
      <div class="errors">Error: {{error}}</div>
    </div>
  </div>
</section>
