{{!< main}}

<script src="/js/elementInteraction.js"></script>
<script src="/js/MathActivity.js"></script>
<script src="/js/LanguageActivity.js"></script>
<script src="/js/QuizActivity.js"></script>
<script src="/js/dialogElement.js"></script>
<script src="/js/runAnimation.js"></script>
<script src="/js/createWorld.js"></script>
<script src="/js/elementFunctions.js"></script>
<script src="/js/convertToHtml.js"></script>
<script src="/js/createStoryline.js"></script>
<script src="/js/dialogFunctions.js"></script>



<div id="customSidebar" class="noisy sidebar">
  <div class="elements">
    <img name = "Koala" alt="interactive element1" src="/gfx/Koala.jpg" width = "100" height="150">
  </div>

  <div class ="elements">
    <img name = "Pingvin" alt="interactive element2" src="/gfx/Penguins.jpg" width ="100" height="150">
  </div>
  
  <div class = "elements">
    <img name = "Ku" alt="interactive element3" src="/gfx/our/cow_element.svg" width ="100" height="150">
  </div>
  
  <div class = "elements">
    <img name = "Kylling" alt="interactive element4" src="/gfx/our/chicken_element.svg" width ="100" height="150">
  </div>
</div>

<div id="customSidebar2" class="noisy sidebar">
  <button id="storylineButton" type="button">Historieforløp</button>
  <div id="storylineDialog" title="Historieforløp">
  </div>
  <img class="schoolbagImage" name = "bag" src="/gfx/bag.png" width ="150" height="150">
  <div class="schoolbagDialog" title="elementer som er plukket opp"></div>
</div>
  
<div id="mainFrame">
  <button id="newWorldButton">Lag en ny verden</button>
  <div class="draggable" title="høyreklikk et element for valg"></div>
  <div class="dialog">
    <div class="checkboxes" >
      <form>
        <label>
          <input id="scene" type="checkbox" name="to_scene" onchange="OnChangeCheckBoxScene()">Til ny scene <br>
        </label>
        <label>
          <input id="activity" type="checkbox" name="to_activity" onchange="OnChangeCheckBoxActivity()">Til ny aktivitet <br>
        </label>
        <label>
          <input id="dialog" type="checkbox" name="dialog" onchange="OnChangeCheckBoxDialog()">Dialog <br>
        </label>
        <label>
          <input id="pickUp" type="checkbox" name="pick_up" onchange="OnChangeCheckBoxPickUp()">Plukk opp <br>
        </label>
        <label>
          <input id="animation" type="checkbox" name="animation" onchange="OnChangeCheckBoxAnimation()">Animasjon <br>
        </label>
          
        <select name="effects" id="effectTypes" disabled onchange="OnChangeAnimationList()">
          <option value="blind">Blind</option>
          <option value="bounce">Bounce</option>
          <option value="clip">Clip</option>
          <option value="drop">Drop</option>
          <option value="explode">Explode</option>
          <option value="fade">Fade</option>
          <option value="fold">Fold</option>
          <option value="highlight">Highlight</option>
          <option value="puff">Puff</option>
          <option value="pulsate">Pulsate</option>
          <option value="shake">Shake</option>
          <option value="slide">Slide</option>
        </select> 
        <input id="animationTestButton" type="submit" value="Prøv animasjon" disabled> <br>
        <label>
          <input id="sound" type="checkbox" name="sound" onchange="OnChangeCheckBoxSound()">Lyd <br>
        </label>
      </form>

    </div>
  </div>
  
  <div class="userInputDialog">
    <textarea class="textarea" id="dialogText" rows="10" cols="26" style="height: 95%"></textarea>
  </div>
  
  <div class="writtenDialog" id="writtenDialog">
    <textarea class="textarea" id ="writtenText" rows="10" cols="26" style="height: 95%" disabled></textarea>
  </div>
  
  <div class="chooseActivityDialog">
  </div>
  
  <div class="chooseSceneDialog"></div>

  <div class="mathActivity" title="Matteaktivitet">
    <p class="question1"> Nummerintervall mellom: </p>
    <input type="text" id="lownumber" placeholder="fra" />
    <p class="question1"> og </p>
    <input type="text" id="highnumber" placeholder="til" onkeypress="submitInputNumbers(event)"/>
    <div class="operatorsAndOperands">
        <form onsubmit="return submitFormFunction();">
            <fieldset style = "width: 100%">
              <div class="question1" style="width:50%; float: left"> Operatorer </div><div class="question1" style="width:50%; float: left"> Antall operander</div>
              <br><br>
              <div style="float: left; width:10%"> 
                <label for="plus">+</label>
                <input class="operatorCheckboxes" id="plus" type="checkbox"/>
              </div>
              <div style="float: left; width:10%">
                <label for="minus">-</label>
                <input class="operatorCheckboxes" id="minus" type="checkbox"/>
              </div>
              <div style="float: left; width:10%">
                <label for="multiply">*</label>
                <input class="operatorCheckboxes" id="multiply" type="checkbox"/>
              </div>
              <div style="float: left; width:10%">
                <label for="divide">/</label>
                <input class="operatorCheckboxes" id="divide" type="checkbox"/>
              </div>
              <div style="float: left; width:10%">
                <label for="alle">alle</label>
                <input class="allOperatorCheckboxes" id="all" type="checkbox"/>
              </div>
              <div style="float: left; width:50%">
                <input type = "text" id="operands" style="width:20%" placeholder="2" onblur="if (this.value == '') {this.value= '2';}" 
                onfocus ="if (this.value=='2'){this.value ='';}"/>
              </div>
            </fieldset>
        </form>
    <br>
    </div>

    <button id="inputValueButton" value="Generer!" />Generer!</button>

    <div class="top">
      <div class= "lives" style = "display: none;">
          <img id="life1" name = "heart" alt="life" src="/gfx/heart.png" >
          <img id="life2" name = "heart" alt="life" src="/gfx/heart.png" >
          <img id="life3" name = "heart" alt="life" src="/gfx/heart.png" >
      </div>
      <div class="score" style="display: none;">
          <div class="questionsAnsweredText" style="float:left"></div>
          <div class="numberOfQuestionsAnswered" style="float:left"></div>
          <div class="totalNumberOfQuestions" style="float:left"></div>
      </div>
    </div>

    <div class="question" style="display: none;">
      <br><br><br><br><br>
      <div class="question2" id="questionHeader"></div>
      <br>
      <div class="questionText"></div>
    </div>


    <div class="equals" style="display: none;"></div>
    <div class="answer" style="display: none;">
      <input class="answerField" id="answerField" type="text" name="answer" size="2" maxlength="8" placeholder="svaret" onkeypress="submitAnswer(event)">
      <button id="answerButton" onclick="checkAnswer()"> Sjekk svar </button>
    </div>
    <div>
      <img id="correctAnswerSmiley" name="happySmiley" src="/gfx/HappySmiley.png" style="display: none;">
      <img id="wrongAnswerSmiley" name="sadSmiley" src="/gfx/SadSmiley.png" style="display: none;">
    </div>
  </div>
  
  <div class="quizActivity" title="Quizaktivitet">
    <div class="quizQuestions">
      <div class="question1">
        <form>

          Spørsmål <input id="quizQuestion" type="text"><br>

          <div class="quizAlternatives">
            <input id="checkAlt1" type="checkbox" name="ans"> Alternativ 1 <input id="alt1" type="text"><br>
            <input id="checkAlt2" type="checkbox" name="ans"> Alternativ 2 <input id="alt2" type="text"><br>
            <input id="checkAlt3" type="checkbox" name="ans"> Alternativ 3 <input id="alt3" type="text"><br>

            Huk av for riktig svaralternativ <br>
          </div>

        </form>
      </div>
    </div>
    <div>
      <div id="nextButtonDiv" style="display:none">
        <button id="nextQuestion" onclick="checkQuizAnswer()">Neste spørsmål</button> 
      </div>
      <div id="lastButtonDiv" style="display:none">
        <button id="showResult" onclick="checkQuizAnswer()">Se resultat</button> 
      </div>
      <div id="numberOfQuestionText"style="float: left">  </div>
      <div class="numberOfQuestions" style="float: left">
      </div>
    </div> <br><br><br>
    
    <div>
    <span><button id="quizButton" onclick="makeNewQuestion()">Legg til flere spørsmål</button></span>
    <span><button id="finishQuiz" onclick="finalizeQuiz()">Ferdigstill Quiz</button></span>
    </div>
  </div>

</div>

<div id="newWorldDialog" title="Velg Scene">
  <div class="img-grid">
  </div>
</div>

<div id="gameIdDiv" style="display: none;">{{game.gameId}}</div>
{{#if admin}}<div id="keyboardPresent" style="display: none;"></div>{{/if}}
