{{!< main}}
<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
          <tr>
              <td class="top-left">id</td>
              <td>Kjøpt</td>
              <td>Mobil</td>
              <td>Lkejr</td>
              <td>Lkejr</td>
              <td>Lkejr</td>
              <td>Lkejr</td>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>19418</td>
          <td>21.10.13 10:55</td>
          <td>Lelelele</td>
        </tr>
        <tr>
          <td>19418</td>
          <td>21.10.13 10:55</td>
          <td>Lololol</td>
        </tr>
      </tbody>
      <tfoot>
        <tr><td colspan="11"></td></tr>
      </tfoot>
    </table>
  </div>
</div>

<script>
$( document ).ready( function (){
  
})
</script>