{{!< main}}
<div class="row contentbox">
  <div class="large-12 columns">
    <h3 style="float: left; width: 50%">Mine spill</h3>
    <br>
    <input id="new-game-button" type="submit" value="Nytt spill" class="button small" style="float: right;" />
    <div id="error" {{#if error}} class="error" {{/if}}>{{error}}</div>
    <table class="large-12 columns">
      <thead>
          <tr>
              <td class="top-left">Spill-id</td>
              <td>Navn</td>
              <td>Laget</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </thead>
      <tbody>
        {{#each games}}
          <tr>
            <td id="game-id">
              {{gameId}}
            </td>
            <td>
              <ul class="button-group">
                <label for="edit-game-name-button">{{name}}</label>
                <input id="edit-game-name-button" type="submit" value="Endre" class="button tiny success edit-game-name" style="float: right;"/>
              </ul>
            </td>
            <td>
              {{datetimeformat created}}
            </td>
            <td>
              <ul class="button-group">
                <input id="edit-game-button" type="submit" value="Rediger spill" class="button small success edit-game" />
              </ul>
            </td>
            <td>
              <ul class="button-group">
                <input id="link-game-button" type="submit" value="Lenke" class="button small link-game" />
              </ul>
            </td>
            <td>
              <ul class="button-group">
                <input id="delete-game-button" type="submit" value="Slett" class="button small secondary delete-game" />
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div id="new-game-dialog" title="Nytt spill">
  <form id="new-game" action="/game" method="POST" name="new-game">
    <label>Navn på nytt spill:</label>
    <input type="text" name="name" id="name" />
  </form>
</div>

<div id="edit-game-name-dialog">
  <form id="edit-game-name" method="POST" name="edit-game-name">
    <label>Nytt navn:</label>
    <input type="text" name="name" id="name" />
  </form>
</div>

<div id="link-game-dialog">
  Offentlig lenke til spillet:<br>
  <span id="game-link-span"></span>
</div>

<div id="delete-game-dialog">
  <form id="delete-game" method="POST" name="delete-game">
    <label>Er du sikker på at du vil slette spillet?</label>
  </form>
</div>

<script type="text/javascript">

$(document).ready(function() {

  $( '#new-game-dialog' ).dialog({
    autoOpen: false,
    height: 300,
    width: 300,
    modal: true,
    buttons: {
      'OK': function (){
        document.forms[ 'new-game' ].submit();
      },
      'Avbryt': function (){
        $( this ).dialog( 'close' );
      }
    },
    show: {
      effect: "blind",
      duration: 200
    }
  });

  $( '#edit-game-name-dialog' ).dialog({
    autoOpen: false,
    height: 300,
    width: 300,
    modal: true,
    buttons: {
      'Lagre': function (){
        document.forms[ 'edit-game-name' ].submit();
      },
      'Avbryt': function (){
        $( this ).dialog( 'close' );
      }
    },
    show: {
      effect: "blind",
      duration: 200
    }
  });

  $( '#link-game-dialog' ).dialog({
    autoOpen: false,
    height: 300,
    width: 500,
    modal: true,
    buttons: {
      'Ferdig': function (){
        $( this ).dialog( 'close' );
      }
    },
    show: {
      effect: "blind",
      duration: 200
    }
  });

  $( '#delete-game-dialog' ).dialog({
    autoOpen: false,
    height: 300,
    width: 300,
    modal: true,
    buttons: {
      'Slett': function (){
        document.forms[ 'delete-game' ].submit();
      },
      'Avbryt': function (){
        $( this ).dialog( 'close' );
      }
    },
    show: {
      effect: "blind",
      duration: 200
    }
  });

  $( '#new-game-button' ).click( function () {
    $( '#new-game-dialog' ).dialog( 'open' );
  });

  $( '.edit-game-name' ).click( function (){
    var button = $(this);
    var row = button.parent().parent().parent();
    var gameId = parseInt( row.find( '#game-id' ).html() );

    $( '#edit-game-name' ).attr( 'action', '/game/' + gameId );
    $( '#edit-game-name-dialog' ).dialog( 'open' );
  });

  $( '.edit-game' ).click( function (){
    var button = $(this);
    var row = button.parent().parent().parent();
    var gameId = parseInt( row.find( '#game-id' ).html() );

    window.location.href = '/game/' + gameId;
  });

  $( '.link-game' ).click( function (){
    var button = $(this);
    var row = button.parent().parent().parent();
    var gameId = parseInt( row.find( '#game-id' ).html() );

    var url = document.URL;
    url = url.replace( 'game', 'play');
    
    if ( url.lastIndexOf('/') != ( url.length - 1 ) ) url += '/';
    
    url += gameId;

    $( '#game-link-span' ).html( '<a href=' + url + '>' + url + '</a>' );
    $( '#link-game-dialog' ).dialog( 'open' );
  });

  $( '.delete-game' ).click( function (){
    var button = $(this);
    var row = button.parent().parent().parent();
    var gameId = parseInt( row.find( '#game-id' ).html() );

    $( '#delete-game' ).attr( 'action', '/deletegame/' + gameId );
    $( '#delete-game-dialog' ).dialog( 'open' );
  });
});

</script>
