{{!< main}}

<script src="/js/elementInteraction.js"></script>
<script src="/js/MathActivity.js"></script>
<script src="/js/LanguageActivity.js"></script>
<script src="/js/QuizActivity.js"></script>
<script src="/js/dialogElement.js"></script>
<script src="/js/runAnimation.js"></script>
<script src="/js/createWorld.js"></script>
<script src="/js/elementFunctions.js"></script>
<script src="/js/convertToHtml.js"></script>
<script src="/js/createStoryline.js"></script>
<script src="/js/dialogFunctions.js"></script>



<div id="customSidebar" class="noisy sidebar">
  <div class="elements">
    <img name = "Koala" alt="interactive element1" src="/gfx/Koala.jpg" width = "100" height="150">
  </div>

  <div class ="elements">
    <img name = "Pingvin" alt="interactive element2" src="/gfx/Penguins.jpg" width ="100" height="150">
  </div>
  
  <div class = "elements">
    <img name = "Ku" alt="interactive element3" src="/gfx/our/Cow element.svg" width ="100" height="150">
  </div>
  
  <div class = "elements">
    <img name = "Kylling" alt="interactive element4" src="/gfx/our/Chicken element.svg" width ="100" height="150">
  </div>
</div>

<div id="customSidebar2" class="noisy sidebar">
  <button id="storylineButton" type="button">Historieforløp</button>
  <div id="storylineDialog" title="Historieforløp">
  </div>
  <img class="schoolbagImage" name = "bag" src="/gfx/bag.png" width ="150" height="150">
  <div class="schoolbagDialog" title="elementer som er plukket opp"></div>
</div>
  
<div id="mainFrame">
  <button id="newWorldButton">Lag en ny verden</button>
  <div class="draggable" title="høyreklikk et element for valg"></div>
  <div class="dialog">
    <div class="checkboxes" >
      <form>
        <label>
          <input id="scene" type="checkbox" name="to_scene" onchange="OnChangeCheckBoxScene()">Til ny scene <br>
        </label>
        <label>
          <input id="activity" type="checkbox" name="to_activity" onchange="OnChangeCheckBoxActivity()">Til ny aktivitet <br>
        </label>
        <label>
          <input id="dialog" type="checkbox" name="dialog" onchange="OnChangeCheckBoxDialog()">Dialog <br>
        </label>
        <label>
          <input id="pickUp" type="checkbox" name="pick_up" onchange="OnChangeCheckBoxPickUp()">Plukk opp <br>
        </label>
        <label>
          <input id="animation" type="checkbox" name="animation" onchange="OnChangeCheckBoxAnimation()">Animasjon <br>
        </label>
          
        <select name="effects" id="effectTypes" disabled onchange="OnChangeAnimationList()">
          <option value="blind">Blind</option>
          <option value="bounce">Bounce</option>
          <option value="clip">Clip</option>
          <option value="drop">Drop</option>
          <option value="explode">Explode</option>
          <option value="fade">Fade</option>
          <option value="fold">Fold</option>
          <option value="highlight">Highlight</option>
          <option value="puff">Puff</option>
          <option value="pulsate">Pulsate</option>
          <option value="shake">Shake</option>
          <option value="slide">Slide</option>
        </select> 
        <input id="animationTestButton" type="submit" value="Prøv animasjon" disabled> <br>
        <label>
          <input id="sound" type="checkbox" name="sound" onchange="OnChangeCheckBoxSound()">Lyd <br>
        </label>
      </form>

    </div>
  </div>
  
  <div class="userInputDialog">
    <textarea class="textarea" id="dialogText" rows="10" cols="26"></textarea>
  </div>
  
  <div class="writtenDialog" id="writtenDialog">
    <textarea class="textarea" id ="writtenText" rows="10" cols="26" disabled></textarea>
  </div>
  
  <div class="chooseActivityDialog">
  </div>
  
  <div class="mathActivity" title="Matteaktivitet">
    <p class="question1"> Velg ett nummer mellom: </p>
    <input type="text" id="lownumber" placeholder="fra" />
    <p class="question1"> og <p>
    <input type="text" id="highnumber" placeholder="til" onkeypress="submitInputNumbers(event)"/>
    <br>
    <input type="submit" id="inputValueButton" value="Generer!" />
  
    <img id="life1" name = "heart" alt="life" src="/gfx/heart.png" style="display: none;">
    <img id="life2" name = "heart" alt="life" src="/gfx/heart.png" style="display: none;">
    <img id="life3" name = "heart" alt="life" src="/gfx/heart.png" style="display: none;">
    <div class="score" style="display: none;">
      <div class="questionsAnsweredText" style="float:left"></div>
      <div class="numberOfQuestionsAnswered" style="float:left"></div>
    <div class="totalNumberOfQuestions" style="float: left"></div>
      <!--<input type="text" id="totalNumberOfQuestions" disabled value="10" size="1">-->
    </div>
    <p class="question2" style="display: none;">Hva er:</p><br>
    <div class="randomNumber1" style="display: none;"></div>
    <div class="operator" style="display: none;"></div>
    <div class="randomNumber2" style="display: none;"></div>
    <div class="equals" style="display: none;"></div>
    <div class="answer" style="display: none;">
      <input class="answerField" id="answerField" type="text" name="answer" size="2" maxlength="4" placeholder="svaret" onkeypress="submitAnswer(event)">
      <button id="answerButton" onclick="checkAnswer()"> Sjekk svar </button>
    </div>
    <div>
      <img id="correctAnswerSmiley" name="happySmiley" src="/gfx/HappySmiley.png" style="display: none;">
      <img id="wrongAnswerSmiley" name="sadSmiley" src="/gfx/SadSmiley.png" style="display: none;">
    </div>
  </div>
  
  <div class="quizActivity" title="Quizaktivitet">
    <div class="quizQuestions">
      <div class="question1">
        <form>

          Spørsmål <input id="quizQuestion" type="text"><br>

          <div class="quizAlternatives">
            <input id="checkAlt1" type="checkbox" name="ans"> Alternativ 1 <input id="alt1" type="text"><br>
            <input id="checkAlt2" type="checkbox" name="ans"> Alternativ 2 <input id="alt2" type="text"><br>
            <input id="checkAlt3" type="checkbox" name="ans"> Alternativ 3 <input id="alt3" type="text"><br>

            Huk av for riktig svaralternativ <br>
          </div>

        </form>
      </div>
    </div>
    <div>
      <div id="nextButtonDiv" style="display:none">
        <button id="nextQuestion" onclick="checkQuizAnswer()">neste spørsmål</button> 
      </div>
      <div id="lastButtonDiv" style="display:none">
        <button id="showResult" onclick="checkQuizAnswer()">se resultat</button> 
      </div>
      <div id="numberOfQuestionText"style="float: left">  </div>
      <div class="numberOfQuestions" style="float: left">
      </div>
    </div> <br><br><br>
    
    <div>
    <span><button id="quizButton" onclick="makeNewQuestion()">legg til flere spørsmål</button></span>
    <span><button id="finishQuiz" onclick="finalizeQuiz()">Ferdigstill Quiz</button></span>
    </div>
  </div>

</div>

<div id="newWorldDialog" title="Velg verden">
  <div class="img-grid">
    <div class="img-wrapper img-wrapper1">
      <div class="img-container">
        <img name = "Farm" alt="farm_bg" src="/gfx/bg1.svg" width ="200" height="200">
      </div>
    </div>
    
    <div class="img-wrapper img-wrapper2">
      <div class="img-container">
        <img name = "Space" alt="space_bg" src="/gfx/bg2.jpg" width ="200" height="200">
      </div>
    </div>
    
    <div class="img-wrapper img-wrapper3">
      <div class="img-container">
        <img name = "Schoolyard" alt="schoolyard_bg" src="/gfx/bg3.jpg" width ="200" height="200">
      </div>
    </div>
    
    <div class="img-wrapper img-wrapper4">
      <div class="img-container">
        <img name = "Home" alt="home_bg" src="/gfx/bg4.jpg" width ="200" height="200">
      </div>
    </div>
    
    <div class="img-wrapper img-wrapper5">
      <div class="img-container">
        <img name = "Snow" alt="snow_bg" src="/gfx/bg5.jpg" width ="200" height="200">
      </div>
    </div>
    
    <div class="img-wrapper img-wrapper6">
      <div class="img-container">
        <img name = "Kitchen" alt="kitchen_bg" src="/gfx/bg6.jpg" width ="200" height="200">
      </div>
    </div>
  </div>
</div>

<div id="gameIdDiv" style="display: none;">{{game.gameId}}</div>

<script type="text/javascript">
$(document).ready(function() {

  // var gameId = $('#gameIdDiv').html();

  // $.ajax({ 
  //   type: 'GET', 
  //   url: '/api/game/' + gameId, 
  //   dataType:"json", 
  //   data: { },
  //   success: function ( response ){ 
  //     if (response.redirect) {
  //       window.location.href = response.redirect;
  //     } else {
  //       // console.log('received response', response);
  //     }
  //   }, 
  //   error: function( xhr, textStatus, errorThrown ){ 
  //     alert('Error!  Status = ' + xhr.status); 
  //     console.log('textStatus', textStatus);
  //     console.log('errorThrown', errorThrown);
  //   } 
  // });
});

</script>