{{!< main}}
<section id="index">
    <div class="row">
        <div class="small-12 columns">Hello world!</div>
    </div>
</section>


<script type="text/javascript">
  // $( document ).ready( function () {
  //   $.ajax({ 
  //     type: 'POST', 
  //     url: '/api/activity/', 
  //     dataType:"json", 
  //     data: {
  //       activity_type: 'LANGUAGE',
  //       element_id: 6,
  //       questions: [
  //         {
  //           question: 'spm 1',
  //           languageQuestionType: 'PICTURE_RECOGNIZE',
  //           data_id: 1,
  //           alternatives: [
  //             {
  //               alternative: 'spm 1, alt 1 (riktig)',
  //               correct: 'true'
  //             },
  //             {
  //               alternative: 'spm 1, alt 2',
  //               correct: 'false'
  //             }
  //           ],
  //         },
  //         {
  //           question: 'spm 2',
  //           languageQuestionType: 'SOUND_RECOGNIZE',
  //           data_id: 1,
  //           alternatives: [
  //             {
  //               alternative: 'spm 2, alt 1',
  //               correct: 'false'
  //             },
  //             {
  //               alternative: 'spm 2, alt 2',
  //               correct: 'false'
  //             },
  //             {
  //               alternative: 'spm 2, alt 3 (riktig)',
  //               correct: 'true'
  //             }
  //           ]
  //         }
  //       ]
  //     },
  //     success: function ( response ){ 
  //       console.log('success');
  //       console.log(response);
  //     }, 
  //     error: function( xhr, textStatus, errorThrown ){ 
  //       alert('Error!  Status = ' + xhr.status); 
  //       console.log('textStatus', textStatus);
  //       console.log('errorThrown', errorThrown);
  //     } 
  //   });
  // });
</script>