{{!< main}}
<section id="login">
    <div class="row">
        <div id="errors" {{#if message}} class="errors" {{/if}}>{{message}}</div>
        <div class="large-4 columns" style="float: center;">
            <form action="/login" method="post">
							<div>
								<label>Brukernavn:</label>
								<input type="text" name="username" /><br />
							</div>
							<div>
								<label>Passord:</label>
								<input type="password" name="password" />
							</div>
							<div>
								<input type="submit" value="Logg inn" class="button small" />
                <input type="submit" value="Registrer ny bruker" class="button small" />
							</div>
						</form>
        </div>
    </div>
</section>
