{{!< main}}
<section id="signup">
    <div class="row contentbox">
        <div class="large-12 columns">
            <div class="large-4 large-offset-2 columns">
                <h3 class="">Ny bruker</h3>

                <form class="custom" action="/signup" method="post">
                    <div id="message" {{#if message}} class="message" {{/if}}>{{message}}</div>
                    <div id="error" {{#if error}} class="error" {{/if}}>{{error}}</div>
                    <div class="row listair"></div>
                    <div class="row">
                        <input type="text" name="username" placeholder="Brukernavn"/>
                    </div>
                    <div class="row">
                        <input type="password" name="password" placeholder="Passord"/>
                    </div>
                    <div class="row listair">
                        <input type="submit" value="Registrer meg" class="button small" />
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>